*
{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    background-color: white;
}

.container-form
{
    display: flex;
    justify-content: center;
}

.formulario-login
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15%;

    position: relative;
    top: 25vh;
    padding: 50px;
    border-radius: 8px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.formulario-login h1
{
    text-align: center;
    text-transform: uppercase;
}

.formulario-login input
{
    padding: 6px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid rgb(95, 95, 95);
    outline: none;

    color: rgb(112, 111, 111);
}

.formulario-login .btn
{
    margin-top: 15px;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover
{
    background-color: rgb(109, 27, 186);
}

.nova-conta a
{
    color: rgb(41, 144, 179);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.nova-conta a:hover
{
    color: rgb(30, 104, 128);
}

.formulario-login p
{
    position: relative;
    top: 20px;
}